<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s3xy.de.android_lsamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ExampleApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="@string/app_name" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="bcf3d886c8bf27ba2c6ffbc2c42c24404b998d2a"/>
    </application>

</manifest>
